<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.uit.quanlychitieunhom">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quản lý chi tiêu"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.ThemGiaoDich"
            android:parentActivityName=".Views.ManHinhChinh"
            android:label="@string/title_activity_them_giao_dich"
            android:exported="true"/>

        <activity
            android:name=".Views.ChiTietHoaDon"
            android:parentActivityName=".Views.ManHinhChinh"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"/>

        <activity android:name=".Views.ThongTinNguoiDung"
            android:parentActivityName=".Views.ManHinhChinh"
            android:exported="true"/>
        <activity android:name=".Views.ThayDoiThongTinNguoiDung"
            android:parentActivityName=".Views.ThongTinNguoiDung"
            android:label="Chỉnh sửa thông tin"
            android:exported="true"/>

        <activity android:name=".Views.ManHinhChinh"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"/>

        <activity android:name=".Views.DangKiTaiKhoan"
            android:parentActivityName=".Views.MainActivity"
            android:label="Đăng kí tài khoản"
            android:exported="true"/>
        <activity android:name=".Views.ThemKiChiTieu"
            android:label="Tạo kì chi tiêu"
            android:exported="true"/>

    </application>

</manifest>